<!-- pic -->
<div class="container" style="width: 18rem;">
  <!-- load the files that are in the public directory but do not add public file name or add onerror={()=>{}} -->
  <img
    class="card-img-top justify-content-center mt-5 pt-5"
    src="../images/url.png"
    alt="url"
  />
</div>

<div class="container mt-5">
  <table class="m-5 table table-responsive justify-content-center">
    <thead>
      <tr>
        <th scope="col">Original URL</th>
        <th scope="col">Short URL</th>
        <th scope="col">Copy</th>
      </tr>
    </thead>
    {{#each shortUrl}}
      <form action="/shortURL/{{this._id}}" method="Post">
        <tbody>
          <tr>
            <td>
              <a href="{{this.originalUrl}}">{{this.originalUrl}}</a>
            </td>
            <td>
              <a href="{{this.shortUrl}}">{{this.shortUrl}}</a>
            </td>
            <td>
              <button type="button" class="btn btn-primary">Copy</button>
            </td>
          </tr>

        </tbody>
      </form>
    {{/each}}
  </table>

</div>